<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>
    <div class="main-panel">
        <div *ngIf="!authService.logged" fxLayout="row" fxLayoutAlign="center center" class="login">
            <app-login></app-login>
        </div>
        <div *ngIf="authService.logged">
            <navbar-cmp></navbar-cmp>
            <router-outlet></router-outlet>
            <div *ngIf="isMap('maps')">
                <footer-cmp></footer-cmp>
            </div>
        </div>
    </div>
</div>